#jinja2:lstrip_blocks: True
{% if system_interface == "default" %}
  {% set bind_ip = hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
{% else %}
  {% set bind_ip = hostvars[inventory_hostname]['ansible_' + system_interface]['ipv4']['address'] %}
{% endif %}
apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    k8s-app: etcd-server
  name: etcd-server
  namespace: kube-system
spec:
  containers:
  - name: etcd
    image: gcr.io/google_containers/etcd:{{ etcd_version }}
    command:
    - /bin/sh
    - -c
    - /usr/local/bin/etcd 2>&1 | /bin/tee -a /var/log/etcd.log
    env:
    - name: ETCD_NAME
      value: {{ inventory_hostname }}
    - name: ETCD_CERT_FILE
      value: /etc/etcd/kubernetes.pem
    - name: ETCD_KEY_FILE
      value: /etc/etcd/kubernetes-key.pem
    - name: ETCD_PEER_CERT_FILE
      value: /etc/etcd/kubernetes.pem
    - name: ETCD_PEER_KEY_FILE
      value: /etc/etcd/kubernetes-key.pem
    - name: ETCD_TRUSTED_CA_FILE
      value: /etc/etcd/ca.pem
    - name: ETCD_PEER_TRUSTED_CA_FILE
      value: /etc/etcd/ca.pem
    - name: ETCD_PEER_CLIENT_CERT_AUTH
      value: "true"
    - name: ETCD_CLIENT_CERT_AUTH
      value: "true"
    - name: ETCD_INITIAL_ADVERTISE_PEER_URLS
      value: "https://{{ bind_ip }}:2380"
    - name: ETCD_LISTEN_PEER_URLS
      value: "https://{{ bind_ip }}:2380"
    - name: ETCD_LISTEN_CLIENT_URLS
      value: "https://{{ bind_ip }}:2379,http://127.0.0.1:2379"
    - name: ETCD_ADVERTISE_CLIENT_URLS
      value: "https://{{ bind_ip }}:2379"
    - name: ETCD_INITIAL_CLUSTER_TOKEN
      value: etcd-cluster-0
    - name: ETCD_INITIAL_CLUSTER
      value: "{{ etcd_host_list }}"
    - name: ETCD_INITIAL_CLUSTER_STATE
      value: new
    - name: ETCD_DATA_DIR
      value: /var/lib/etcd
    livenessProbe:
      initialDelaySeconds: 15
      tcpSocket:
        host: 127.0.0.1
        port: 2379
      timeoutSeconds: 15
    ports:
    - containerPort: 2380
      hostPort: 2380
      name: serverport
    - containerPort: 2379
      hostPort: 2379
      name: clientport
    resources:
      requests:
        cpu: 200m
    volumeMounts:
    - mountPath: /etc/etcd
      name: etc-etcd
    - mountPath: /var/lib/etcd
      name: var-lib-etcd
    - mountPath: /var/log/etcd.log
      name: var-log-etcd
    - mountPath: /etc/hosts
      name: etc-hosts
      readOnly: true
  hostNetwork: true
  tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
  volumes:
  - hostPath:
      path: /etc/etcd
    name: etc-etcd
  - hostPath:
      path: /var/lib/etcd
    name: var-lib-etcd
  - hostPath:
      path: /var/log/etcd.log
    name: var-log-etcd
  - hostPath:
      path: /etc/hosts
    name: etc-hosts
status: {}
