apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  creationTimestamp: null
  labels:
    k8s-app: kube-scheduler
  name: kube-scheduler
  namespace: kube-system
spec:
  containers:
  - name: kube-scheduler
    image: gcr.io/google_containers/kube-scheduler:v{{ k8s_version }}
    command:
    - /bin/sh
    - -c
    - /usr/local/bin/kube-scheduler
      --leader-elect=true
      --master=http://127.0.0.1:8080
      --v=2 2>&1 | /bin/tee -a /var/log/kube-scheduler.log
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10251
      initialDelaySeconds: 15
      timeoutSeconds: 15
    resources:
      requests:
        cpu: 100m
    volumeMounts:
    - mountPath: /var/log
      name: var-log
  hostNetwork: true
  tolerations:
  - key: CriticalAddonsOnly
    operator: Exists
  volumes:
  - hostPath:
      path: /var/log
    name: var-log
status: {}
